<% include ../../template/pageHead.html %>

<link rel="stylesheet" href="../../css/multiple/multipleCompared.css" />
<script type="text/javascript" src="../../../js/multiple/compared/model.js"></script>
<script type="text/javascript" src="../../../js/multiple/compared/controller.js"></script>


<!-- 表格模板 -->
<% include ../components/girdTemplate.html %>

<!-- 右侧记录列表模板 -->
<% include ../components/recordListTemplate.html %>

<!-- 选择项目组件 -->
<% include ../components/index.html %>

<div id="multipleComparePage" class="multipleComparePage">
    <div class="pageLeft">
        <div class="choiceCondition">
            <div class="title">
                选择项目
            </div>
            <div class="content">
                <div class="addProject" v-text="addProjectTxt" class="content" @click="addProjectShow">
                    添加项目
                </div>
            </div>
        </div>
        <div class="choiceCondition">
            <div class="title">
                选择时间
            </div>
             <!-- 单个时间选择控件 Start -->
            <div class="content">
                <multtimerall :cb="timeClick"></multtimerall>
            </div>
             
        </div>

        <div class="choiceCondition">
            <div class="title">
                <span>选择分项</span>
                <div class="branch">
                    <!-- <pswitch-checkbox text="显示所选分项支路信息" name="mask" change="multipleCompare.branchIsShowFn" id="configSubscriptType"></pswitch-checkbox> -->
                </div>
            </div>
            <div class="content">
                <div class="addProject" v-text="addSubentryTxt" class="content" @click="addSubetryShow">
                    添加分项
                </div>

            </div>

            <!-- 支路对比相关 -->

            <div class="confirmCommit">
                <pbutton-blue bind="true" text="'确定'" @click="confirmSearchListFn"></pbutton-blue>
            </div>
        </div>
    </div>
    <div class="pageRight">
        <div class="topNav">
            <div class="gridOption">
                <div class="gridOptionItem">
                    <!-- <pswitch-checkbox text="图表" id="chartId" state="true" change="multipleCompare.showChatFn"></pswitch-checkbox> -->
                </div>
                <div class="gridOptionItem">
                    <pswitch-checkbox text="报表" id="reportId" state="false" change="multipleCompare.showReportFn"></pswitch-checkbox>
                </div>
            </div>
            <div class="numberOption">
                <ul>
                    <li v-for=" item in tabOptionTwo" :class="{'checked':item.checked}" v-text="item.name" :id="item.code"
                        @click="tableOptionTwoChangeFn(item)">

                    </li>
                </ul>
            </div>
            <div class="energyOption">
                <ul>
                    <li v-for="item in tabOptionThree" :class="{'checked':item.checked}" v-text="item.name" :id="item.code"
                        @click="tableOptionThreeChangeFn(item)">
                    </li>
                </ul>
            </div>
            <navright :type="1" :down-click="downReport"></navright>
        </div>
        <div class="contentPart">
            <div class="aboutChart" id="divMultiCompareChartParent">
                <!-- 没有数据展示 -->
                <div class="noData" v-show="noDataChartShow">
                    <h3>meos</h3>
                    <span>请先在左侧列表选择参数</span>
                </div>
                <unitandyset :unit="chartUnit" :show="scChartShow" :confirm="setYdataFn" :max="max" :min="min"></unitandyset>
                <!-- 引入chart图表 -->
                <div id="divLineChart" v-show="scChartShow" v-bind:class="{multiComparChartHeightWithReport:scReportShow,multiComparChartHeightNoReport:!scReportShow}"></div>

                <!-- 引入报表表格-->
                <div class="reportFrom" id="scReportFrom" v-if="scReportShow">
                    <tgrid :renderlist="gridRenderList"></tgrid>
                </div>
            </div>
            <div class="aboutRecord">
                <div class="title">
                    <span>已选择项</span>
                </div>
                <!-- 引入 时间 + 项目  +  分项  生成的记录  需组件-->
                <ctrecord :list-data="cRecordList" :type="'compare'" :deletecb="deleteRecordFn"></ctrecord>
            </div>
        </div>
    </div>

    <!-- 多选项目模块 -->
    <!-- showProjectTemp 显示隐藏   searchContent 搜索关键字  cb 点击事件回调 cancle组件隐藏 result选中的数据列表 -->
    <mproject v-if="showProjectTemp" :search="searchContent" :cb="addProjectCallBack" :cancle="addProjectHide" :result="_.map(currProjectResult,'projectLocalID')">
    </mproject>

    <!-- 选择分项 -->
    <msubentry v-if="showSubentryTemp" :subtree="subentryTree" :search="searchSubentry" :cb="addSubetryCallBack"
        :cancle="addSubetryHide" :result="_.map(currentSubentryList,'localId')">

    </msubentry>

    <!-- 未匹配分项组件  notMatchSubCurrTemp -->
    <msubentry v-if="notMatchSubCurrTemp" :search="notMatchSubSearchKey" :cb="notMatchSubentryCB" :cancle="notMatchSubentryPopHide"
        :result="_.map(notMatchSubCurrList,'obj_id')">

    </msubentry>
</div>

<!-- loading -->
<ploading-part id="globalloading" text="加载中..."></ploading-part>
<!-- 成功失败提示 -->
<pnotice-message id="globalnotice"></pnotice-message>
<% include ../../template/pageFoot.html %>