<% include ../../template/pageHead.html %>

<!-- 选择项目组件 -->
<% include ../components/index.html %>
<!-- 表格模板 -->
<% include ../components/girdTemplate.html %>


<link rel="stylesheet" href="../css/multiple/MultiplePop.css">
<script src="../../../js/multiple/MultiplePop/model.js"></script>
<script src="../../../js/multiple/MultiplePop/controller.js"></script>


<div class="multiplePopContent" id="multiplePopContent">
    <div class="pageLeft">
        <div class="choiceCondition">
            <div class="title">
                选择项目
            </div>
            <div class="content">
                <div class="addProject" v-text="addProjectTxt" class="content" @click="addProjectShow">
                    添加项目
                </div>
            </div>
        </div>
        <div class="choiceCondition">
            <div class="title">
                选择时间
            </div>
            <div class="content">
                <div class="choiceTime" :arr="JSON.stringify(searchConditionObj.timeSaveArr.length)">
                    <div class="choiceTimeOp">
                        <ptime-calendar :id="'selectTimeLine'" orientation="down" sel="multiplePop.confirmCurrTime">
                            <panel timetype="dwMy" align="left" double="true" startyear="2003"></panel>
                        </ptime-calendar>
                    </div>
                </div>

            </div>
        </div>

        <div class="choiceCondition">
            <div class="title">
                <span>选择分项</span>

            </div>
            <div class="content">
                <div class="section choiceSubentry" style="height: 50px;padding-top:10px;margin-bottom:20px;">
                    <suboption :cb="addSubetryCallBack" :tree="subentryTree"></suboption>
                </div>
            </div>


            <div class="confirmCommit">
                <pbutton-blue bind="true" text="'确定'" @click="confirmSearchListFn"></pbutton-blue>
            </div>
        </div>
    </div>
    <div class="pageRight">
        <div class="topNav">
            <div class="gridOption">
                <div class="gridOptionItem">
                    <pswitch-checkbox text="报表" id="reportId" state="false" change="multiplePop.showReportFn"></pswitch-checkbox>
                </div>
            </div>

            <div class="energyOption">
                <ul>
                    <li v-for="item in tabOptionThree" :class="{'checked':item.checked}" v-text="item.name" :id="item.code"
                        @click="tableOptionChangeFn(item)">
                    </li>
                </ul>
            </div>
            

            <div class="popColor">
                <span>气泡颜色区分维度</span>
                <ul class="list">
                    <li>
                        <pswitch-radio text="项目类型" state="true" name="mark" change="multiplePop.checkPopColor('project')"></pswitch-radio>
                    </li>
                    <li>
                        <pswitch-radio text="气候区" state="false" name="mark" change="multiplePop.checkPopColor('weather')"></pswitch-radio>
                    </li>
                    <li>
                        <pswitch-radio text="管理区" state="false" name="mark" change="multiplePop.checkPopColor('manager')"></pswitch-radio>
                    </li>
                    <li>
                        <pswitch-radio text="不分区" state="false" name="mark" change="multiplePop.checkPopColor('normal')"></pswitch-radio>
                    </li>
                </ul>
            </div>
            <navright :type="5" :down-click="downReport"></navright>
        </div>
        <div class="contentPart">
            <div class="aboutChart">
                <!-- 没有数据展示 -->
                <div class="noData" v-show="noDataChartShow">
                    <h3>meos</h3>
                    <span>请先在左侧列表选择参数</span>
                </div>
                <unitandyset :show="scChartShow" :confirm="setYdataFn" :max="max" :min="min"></unitandyset>
                <!-- 引入chart图表 -->
                <div class="chartContent" v-show="scChartShow" v-bind:class="{multiPopChartHeightWithReport:scReportShow,multiPopChartHeightNoReport:!scReportShow}">
                    <div id="multiPop"></div>
                    <div class="chartY">
                        面积（㎡）
                    </div>
                </div>


                <!-- 引入报表表格-->
                <div class="reportFrom" id="scReportFrom" v-if="scReportShow">
                    <inquiretable :keys="gridTitles" :list="gridList"></inquiretable>
                </div>
            </div>
            <div class="aboutRecord">
                <div class="title">
                    <span>参考信息</span>
                </div>
                <div class="content">
                    <h3>国家标准值</h3>
                    <div class="list">
                        <section class="block">
                            <div>商业建筑</div>
                            <ul>
                                <li>
                                    <em>约束值</em>
                                    <span>108kwh/㎡</span>
                                </li>
                                <li>
                                    <em>引导值</em>
                                    <span>108kwh/㎡</span>
                                </li>
                            </ul>
                        </section>
                        <section class="block">
                            <div>办公建筑</div>
                            <ul>
                                <li>
                                    <em>约束值</em>
                                    <span>108kwh/㎡</span>
                                </li>
                                <li>
                                    <em>引导值</em>
                                    <span>108kwh/㎡</span>
                                </li>
                            </ul>
                        </section>
                    </div>
                </div>
                <!-- 引入 时间 + 项目  +  分项  生成的记录  需组件-->
                <!-- <ctrecord :list-data="cRecordList" :type="'compare'" :deletecb="deleteRecordFn"></ctrecord> -->
            </div>
        </div>
    </div>

    <!-- 选择时间控件 -->
    <div id="choiceTimePop">
        <ptime-calendar id="choiceTime" orientation="down" sel="multipleCompare.confirmCurrTime">
            <panel timetype="dwMy" align="left" double="true" startyear="2003"></panel>
        </ptime-calendar>
    </div>

    <!-- 多选项目模块 -->
    <!-- showProjectTemp 显示隐藏   searchContent 搜索关键字  cb 点击事件回调 cancle组件隐藏 result选中的数据列表 -->
    <mproject :valchangecb="changeVal" v-if="showProjectTemp" :search="searchContent" :cb="addProjectCallBack" :cancle="addProjectHide" :result="_.map(currProjectResult,'projectLocalID')">
    </mproject>

    <!-- 选择分项 -->
    <msubentry v-if="showSubentryTemp" :subtree="subentryTree" :search="searchSubentry" :cb="addSubetryCallBack"
        :cancle="addSubetryHide" :result="_.map(currentSubentryList,'localId')">

    </msubentry>

</div>
<% include ../../template/pageFoot.html %>