<!-- 头部 -->
<% include ../../template/pageHead.html %>

<!-- 图表组件 -->
<% include ../components/components_slide.html %>
<!-- 其他组件 -->
<% include ../components/index.html %>

<!-- 表格模板 -->
<% include ../components/girdTemplate.html %>

<link rel="stylesheet" href="../../css/single/SingleSlide.css" />
<link rel="stylesheet" href="../../css/single/Inquire.css">


<div id="singleSlidePage" class="singleComparePage">
    <div class="pageLeft">
        <div class="choiceCondition">
            <div class="title">
                筛选项目
            </div>
            <div class="content">
                <div class="addProject" v-text="addProjectTxt" class="content" @click="addProjectShow">
                    添加项目
                </div>
            </div>
            <energymodel v-if="showEnergyModel" :propsprojectids="_.map(projects,'projectId')" :propsmodelids="_.map(modelids,'obj_id')"
                :cancel="addProjectHide" :cb="addProjectCallBack">
            </energymodel>
        </div>
        <div class="choiceCondition">
            <div class="title">
                选择时间
            </div>
            <div class="content" style="padding-left:20px;">
                <!-- 单个时间选择控件 Start -->
                <timer :cb="timeClick" :hidebtn="true"></timer>
                <!-- 单个时间选择控件 End -->
            </div>
        </div>
        <div class="choiceCondition">
            <div class="title">
                选择分项
            </div>
            <div class="content">
                <suboption :cb="addSubetryCallBack" :tree="energyModelTree"></suboption>
            </div>
        </div>

        <div class="operatBtn" @click.capture="submitQuery();console.log(123)">
            <pbutton-blue bind="true" sel="app.submitQuery" text="'确定'"></pbutton-blue>
        </div>
    </div>

    <div class="pageRight">
        <div ref="tab" class="tab neck layout">

            <vcheckbox ref="vcheckbox1" :icon="'M'" :title="'布局'" :datasource="tableTypes" :iscombox="iscombox"
                :computewidth="computeWidth" :primarykey="'code'" :name="'name'" :selected="query.table" :cb="createHandlerClick('table')"></vcheckbox>

            <cobxs ref="cobxs1" :icon="'%'" :title="'计量方式'" :datasource="measurementTypes" :iscombox="iscombox"
                :computewidth="computeWidth" :primarykey="'code'" :name="'name'" :selected="query.measurement" :cb="createHandlerClick('measurement')"></cobxs>

            <cobxs ref="cobxs2" :icon="'g'" :title="'单位'" :datasource="unitTypes" :iscombox="iscombox" :computewidth="computeWidth"
                :primarykey="'code'" :name="'name'" :selected="query.unit" :cb="createHandlerClick('unit')"></cobxs>

            <cobxs ref="cobxs3" :icon="'g'" :title="'区分维度'" :datasource="dimensionalityTypes" :iscombox="iscombox"
                :computewidth="computeWidth" :primarykey="'code'" :name="'name'" :selected="query.dimensionality" :cb="createHandlerClick('dimensionality')"></cobxs>
            <vcheckbox ref="vcheckbox2" :icon="'-'" :title="'常用计算'" :datasource="auxiliarys" :iscombox="iscombox"
                :computewidth="computeWidth" :primarykey="'code'" :name="'name'" :selected="query.auxiliarys" :cb="createHandlerClick('auxiliarys')"></vcheckbox>

            <!--  下载Icon Start -->
            <div ref="iconlist" class="iconlist">
                <div class="vg">
                    <pbutton-white icon="D" shape="rectangle"></pbutton-white>
                </div>
                <div class="vg">
                    <div class="btn">
                        <pbutton-white bind="true" icon="'N'" @mouseenter="onlineExplainEnter" @mouseleave="onlineExplainLeave"></pbutton-white>
                    </div>
                    <div style="position:relative;" v-if="onlineExplainFlag" @mouseenter="onlineExplainEnter"
                        @mouseleave="onlineExplainLeave">
                        <promptmessage :type="1"></promptmessage>
                    </div>

                </div>
            </div>
            <!--  下载Icon End -->



        </div>
        <div class="operatOption_">
            <div class="dataVisualization">
                <div class="chart" >
                    <div id="barChart" ref="chart"></div>
                    <!-- 柱状图组件 -->
                    <column_chart :data="columnConfigData"></column_chart>
                    <div class="supple">
                        编辑
                        <span class="unit">单位：kWh</span>
                    </div>
                </div>
                <div class="table">
                    <pgrid-normal style="width: 100%; height: 400px;">
                        <panel datasource="gridArr"></panel>
                        <header>
                            <column name="时间" source="time"></column>
                            <column name="动力用电（kWh）" source="energyConsumption"></column>
                        </header>
                    </pgrid-normal>
                </div>
            </div>
            <div class="projectInformation">
                <!-- <h3 class="title">项目信息</h3>
                <div class="content">
                    <h4>能量拐点</h4>
                    <div>
                        <div class="rise">2016.05</div>
                        <div class="drop">2016.07</div>
                    </div>
                </div> -->
                <h3 class="title">项目信息</h3>
                <div id="mulProjectMessage">
                    <div class="projectTop">
                        已选项目<span class="projectNum" v-html="'<span style=\'color:#02a9d1\'>112</span>个'"></span>
                    </div>
                    <div class="projectCon">
                        <div class="projectTitle">
                            <span class="iconR" @click="">r</span>商业建筑<span class="projectNum" v-html="'<span style=\'color:#02a9d1\'>112</span>个'"></span>
                        </div>
                        <div class="projects">
                            <div class="projectItem">
                                <div class="word">
                                    <span>项目A</span>
                                    <span class="projectNum">266kWh</span>
                                </div>
                                <progress max="100" :value="'20'"></progress>
                            </div>
                            <div class="projectItem">
                                <div class="word">
                                    <span>项目A</span>
                                    <span class="projectNum">266kWh</span>
                                </div>
                                <progress max="100" :value="'20'"></progress>
                            </div>
                            <div class="projectItem">
                                <div class="word">
                                    <span>项目A</span>
                                    <span class="projectNum">266kWh</span>
                                </div>
                                <progress max="100" :value="'20'"></progress>
                            </div>
                        </div>
                    </div>
                    <div class="projectCon">
                        <div class="projectTitle">
                            <span class="iconR" @click="">r</span>商业建筑<span class="projectNum" v-html="'<span style=\'color:#02a9d1\'>112</span>个'"></span>
                        </div>
                        <div class="projects">
                            <div class="projectItem">
                                <div class="word">
                                    <span>项目A</span>
                                    <span class="projectNum">266kWh</span>
                                </div>
                                <progress max="100" :value="'20'"></progress>
                            </div>
                            <div class="projectItem">
                                <div class="word">
                                    <span>项目A</span>
                                    <span class="projectNum">266kWh</span>
                                </div>
                                <progress max="100" :value="'20'"></progress>
                            </div>
                            <div class="projectItem">
                                <div class="word">
                                    <span>项目A</span>
                                    <span class="projectNum">266kWh</span>
                                </div>
                                <progress max="100" :value="'20'"></progress>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 多选项目模块 -->
    <!-- showProjectTemp 显示隐藏   searchContent 搜索关键字  cb 点击事件回调 cancle组件隐藏 result选中的数据列表 -->
    <mproject v-if="showProjectTemp" :search="searchContent" :cb="addProjectCallBack" :cancle="addProjectHide" :result="_.map(currProjectResult,'projectLocalID')">
    </mproject>
</div>

<script src="../../../js/multiple/slide/model.js"></script>
<script src="/js/multiple/compared/controller.js"></script>
<script src="/js/multiple/slide/controller.js"></script>
<script src="/js/single/Inquire/controller.js"></script>