<script type="text/html" id="grid-template">
    <div class="chartGridContainer" v-bind:style="{height:containerHeight}">
        <div id="commonGrid" class="commonGrid cgrid" v-for="item in renderlist" v-bind:style="{height:gridHeight}">
                <div class="title">
                    <ul>
                        <li v-for="info in item.renderTit" :style="{width:(100/item.renderTit['length'] + '%')}">
                            <span v-text="info.name" :title="info.name">
                                
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="chartContentGrid">
                    <ul v-bind:style="{height:gridConUlHeight}">
                        <li v-for="options in item.renderCon">
                            <span v-for="op in options" v-text="op" :title="op" :style="{width:(100/options['length'] + '%')}">
                                
                            </span>
                        </li>
                    </ul>
                </div>
        </div>
    </div>
    
</script>

<script>
    Vue.component('tgrid', {
        template: '#grid-template',
        props: ["renderlist"],
        data: function () {
            return {
                number: "",
                gridHeight: '260px',
                containerHeight: '260px',
                gridConUlHeight: ' calc(100% - 30px)'
            }
        },
        computed: {

        },
        methods: {

        },
        watch: {
            renderlist: function (newVal, oldVal) {
                setHeight.call(this);
            }
        },
        created() {
            setHeight.call(this);
        }

    });

    function setHeight() {
        var height = this.renderlist[0].renderCon.length * 30 + 30;
        var oneGridHeight = Math.min(260, height);
        this.gridHeight = oneGridHeight + 'px';
        this.containerHeight = (oneGridHeight * this.renderlist.length) + 'px';
        this.gridConUlHeight = (oneGridHeight - 30) + 'px';
    };
</script>

<style>
    .chartGridContainer {
        height: 260px;
        overflow: hidden;
        overflow-y: auto;
    }

    .cgrid {
        position: relative;
        width: 100%;
        height: 100%;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .cgrid::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    .cgrid .title {
        width: 100%;
        height: 30px;
        position: absolute;
        /* top: 0; */
        left: 0;

    }

    .cgrid .title ul {
        /* padding:0 20px; */
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        height: inherit;

    }

    .cgrid .title ul li {
        height: 30px;
        line-height: 30px;
        text-align: center;
        background: #8b959a;
        min-width: 130px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .cgrid .title ul li span {
        color: #fff;
    }

    .chartContentGrid {
        overflow-x: hidden;
        overflow-y: auto;
        position: absolute;
        top: 30px;
        height: calc(100% - 30px);
        min-width: 100%;
    }

    .cgrid .chartContentGrid ul {
        /* padding: 0 20px; */

        display: flex;
        flex-flow: column nowrap;
        /* align-items: center; */
        /* height: inherit; */
        /* background: #fff; */
        border-bottom: 1px solid #d9e2e8;
    }

    .cgrid .chartContentGrid ul li {
        height: 30px;
        min-height: 30px;
        line-height: 30px;
        /* margin-left: 20px; */
        /* border-right: 1px solid #d9e2e8; */
        display: flex;
        flex-flow: row nowrap;
    }

    .cgrid .chartContentGrid ul li span {
        display: block;
        min-width: 130px;
        text-align: center;
        border-right: 1px solid #d9e2e8;
        border-bottom: 1px solid #d9e2e8;
        background: #fff;
        box-sizing: border-box;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>