<!-- 根据宽度变动的下拉 -->
<% include ./selects.html %>
<% include ./cobxs.html %>
<!-- 多选树  -->
<% include ./MultipleTree.html %>

<!-- 能耗模型弹窗的模型空间 -->
<% include ./MultipleTreeLike.html %>

<!-- 能耗模型弹窗 -->
<% include ./Energymodel.html %>
<% include ./suboption.html %>
<!-- 多项目  -->
<% include ./multiProjectTemp.html %>
<!-- 多分项 -->
<% include ./multSubentryTemp.html %>
<!-- 设置Y轴数值 -->
<% include ./setDataTemp.html %>
<!-- 提示信息 -->
<% include ./promptMessage.html%>
<!-- 单个选择的提示信息 -->
<% include ./timer.html%>

<!-- 数据查询的表格 -->
<% include ./inquiretable.html%>

<!-- 数据查询参考信息表格 -->
<% include ./inquirelist.html%>

<!-- 已选项 -->
<% include ./recordListTemplate.html%>

<!-- 数据查询参考信息表格 -->
<% include ./multtimer.html%>


<!-- 数据查询参考信息表格 -->
<% include ./yearTable.html%>

<!-- 数据查询参考信息表格 -->
<% include ./weektable.html%>