<link rel="stylesheet" href="/css/single/inquiretable.css">
<script type="text/html" id="inquiretable">

        <ul class="inquiretable">
            <!-- 表头  -->
            <li class="inquiretable_header">
                   <span v-for="item in keys" class="inquiretable_header_item align" :title="item.name" v-text="item.name"></span>
            </li>
            <!-- /表头  -->
            <!-- 表体  -->
            <li class="inquiretable_content" v-for="item in list">
                    <span v-for="model in keys" class="inquiretable_content_item align" :title="item[model.key]" v-text="item[model.key]"></span>
            </li>
            <!-- /表体  -->
        </ul>
</script>
<script>

    $(function () {
        Vue.component('inquiretable', {
            template: "#inquiretable",
            data: function () {
                return {
                    // list: _.range(20).map(item => ({
                    //     name: `name${+new Date()}`,
                    //     age: `age${+new Date()}`,
                    //     like: `like${+new Date()}`,
                    // })),
                    // keys: [{
                    //     name: '姓名',
                    //     key: 'name'
                    // }, {
                    //     name: '年龄',
                    //     key: 'age'
                    // }, {
                    //     name: '爱好',
                    //     key: 'like'
                    // }]
                }
            },
            props: {
                //  数据集合
                list: {
                    type: Array,
                    required: true,
                },
                // 表头集合
                keys: {
                    type: Array,
                    required: true,
                }
            },
            methods: {},
            computed: {
            },
            watch: {

            },
            mounted: function () {

            },
            beforeMount: function () {

            }
        })
    })
</script>