<script type="text/html" id="prompt-template">
    <!-- type = 1 基本类型  type = 2 单项目数据查询 单平米能耗  type = 3单项目滑动平均  type = 4 热图分析  type = 5 多项目气泡图 -->
    <div id="promptMessage">
        <!-- type 1 基本类型 -->
        <div v-if="type == 1" class="promptMessage_box">
            <div class="pmt1">
                <span class="title">单位换算</span>
                <div class="content">
                    <em>费用=能耗(kWh)×能源单价(元/kWh）</em>
                    <em>碳排放量(g)=能耗(kWh)×折算系数</em>
                    <em>标煤(tce)=能耗(kWh)×折算系数</em>
                </div>

            </div>
        </div>
        <!-- 参考单项目数据查询 单平米能耗 -->
        <div v-if="type == 2" class="promptMessage_box">
            <div class="pmt1">
                <span class="title">单位换算</span>
                <div class="content">
                    <em>费用=能耗(kWh)×能源单价(元/kWh）</em>
                    <em>碳排放量(g)=能耗(kWh)×折算系数</em>
                    <em>标煤(tce)=能耗(kWh)×折算系数</em>
                </div>

            </div>
            <div class="pmt1">
                <span class="title">数据来源</span>
                <div class="content">
                    <em>费用=能耗(kWh)×能源单价(元/kWh）</em>
                    <em>碳排放量(g)=能耗(kWh)×折算系数</em>
                    <em>标煤(tce)=能耗(kWh)×折算系数</em>
                </div>

            </div>
        </div>

        <!-- 参考单项目滑动平均  -->
        <div v-if="type == 3" class="promptMessage_box">
            <div class="pmt1">
                <span class="title">单位换算</span>
                <div class="content">
                    <em>费用=能耗(kWh)×能源单价(元/kWh）</em>
                    <em>碳排放量(g)=能耗(kWh)×折算系数</em>
                    <em>标煤(tce)=能耗(kWh)×折算系数</em>
                </div>

            </div>
            <div class="pmt1">
                <span class="title">数据来源</span>
                <div class="content">
                    <em>按月滑动：即柱状图中每个柱子推移1个月，每个柱子均包含12个月的能耗。如第一个柱子是2016.1~2016.12的年能耗（包含12个月），第二个柱子是2016.2~2017.1的年能耗（也包含12个月），以此类推。</em>
                    <em>按日滑动：即柱状图中每个柱子推移1天，每个柱子均包含365天的能耗。如第一个柱子是2016.1.1~2016.12.31的年能耗（包含365天），第二个柱子是2016.1.2~2017.1.1的年能耗（也包含365天），以此类推</em>
                </div>

            </div>
        </div>

        <!-- 参考热图分析 -->
        <div v-if="type == 4" class="promptMessage_box">
            <div class="pmt1">
                <span class="title">单位换算</span>
                <div class="content">
                    <em>费用=能耗(kWh)×能源单价(元/kWh）</em>
                    <em>碳排放量(g)=能耗(kWh)×折算系数</em>
                    <em>标煤(tce)=能耗(kWh)×折算系数</em>
                </div>

            </div>
            <div class="pmt1">
                <span class="title">图表信息</span>
                <div class="content">
                    <em>采用反色方式将对比结果进行染色，对比差值从大到小进行染色。</em>
                </div>

            </div>
        </div>

        <!-- 参考多项目气泡图 -->
        <div v-if="type == 5" class="promptMessage_box">
            <div class="pmt1">
                <span class="title">单位换算</span>
                <div class="content">
                    <em>费用=能耗(kWh)×能源单价(元/kWh）</em>
                    <em>碳排放量(g)=能耗(kWh)×折算系数</em>
                    <em>标煤(tce)=能耗(kWh)×折算系数</em>
                </div>

            </div>
            <div class="pmt1">
                <span class="title">图表信息</span>
                <div class="content">
                    <em>横坐标为所选项目所选分项对应面积</em>
                    <em>纵坐标为所选项目所选分项单平米指标</em>
                    <em>气泡大小为所选项目所选分项总能耗</em>
                </div>

            </div>
        </div>
    </div>
</script>

<script>
    Vue.component('promptmessage', {
        template: '#prompt-template',
        props: ["type"],
        data: function () {
            return {

            }
        },
        computed: {

        },
        methods: {

        },
        watch: {

        }
    })
</script>
<style>
    #promptMessage {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 666;
    }

    #promptMessage .promptMessage_box {
        width: 310px;
        min-height: 140px;
        background: #fff;
        border: 1px solid #D9E2E8;
        border-radius: 3px;
        padding: 20px;
    }

    #promptMessage .promptMessage_box .pmt1 {
        display: flex;
        flex-flow: column nowrap;
        margin-bottom: 10px;
    }

    #promptMessage .promptMessage_box .pmt1 .title {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    #promptMessage .promptMessage_box .pmt1 .content {
        display: flex;
        flex-flow: column nowrap;
    }

    #promptMessage .promptMessage_box .pmt1 .content>em {
        display: block;
        white-space: normal;
    }
</style>