<!-- <script type="text/html" id="vcheckbox"> -->
<div class="per-structure-normal per-structure-default">
    <div class="per-structure-title">
        <div class="per-searchbox-promptly">
            <div class="per-searchbox-input">
                <div class="per-searchbox-icon">f</div>
                <input type="text">
                <div class="per-searchbox-input_x" style="display: none;">x</div>
            </div>
        </div>
    </div>
    <div class="per-structure-con">
        <div class="per-scrollbar" style="max-width: 298px; max-height: 353px;">
            <div class="per-scrollbar_wrap">
                <div class="per-scrollbar_actual">
                    <div class="per-tree-soso_result">
                        <ul></ul>
                    </div>
                    <div class="per-tree-wrap">
                        <div class="per-tree-temp">
                            <div itemtext="yz" class="per-tree-title per-structure-single" title="亚洲亚洲亚洲亚洲亚洲亚洲亚洲亚洲亚洲亚洲亚洲亚洲亚洲亚洲亚洲亚洲亚洲亚洲亚洲亚洲亚洲亚洲亚洲亚洲亚洲亚洲亚洲亚洲亚洲亚洲">
                                <div class="per-slh">
                                    <span class="per-tree-arrow" style="visibility: visible;">b</span>
                                    <b itemtextval="">亚洲亚洲亚洲亚洲亚洲亚洲亚洲亚洲亚洲亚洲亚洲亚洲亚洲亚洲亚洲亚洲亚洲亚洲亚洲亚洲亚洲亚洲亚洲亚洲亚洲亚洲亚洲亚洲亚洲亚洲</b>
                                </div>
                            </div>
                            <div class="per-tree-con">
                                <div class="per-tree-temp">
                                    <div itemtext="zg" class="per-tree-title per-structure-single" title="">
                                        <div class="per-slh">
                                            <span class="per-tree-arrow" style="visibility: visible;">b</span>
                                            <b itemtextval="">中国</b>
                                        </div>
                                    </div>
                                    <div class="per-tree-con" style="">
                                        <div class="per-tree-temp">
                                            <div itemtext="bj" class="per-tree-title per-structure-single per-tree-ts_active" title="中国人民中国大中国大中华好大一个家56个民族啊">
                                                <div class="per-slh">
                                                    <span fold="" class="per-tree-arrow" style="visibility: hidden;">r</span>
                                                    <b itemtextval="">中国人民中国大中国大中华好大一个家56个民族啊</b>
                                                </div>
                                            </div>
                                            <div class="per-tree-con" style="display: none;"></div>
                                        </div>
                                        <div class="per-tree-temp">
                                            <div itemtext="hz" class="per-tree-title per-structure-single" title="">
                                                <div class="per-slh">
                                                    <span fold="" class="per-tree-arrow" style="visibility: hidden;">r</span>
                                                    <b itemtextval="">杭州</b>
                                                </div>
                                            </div>
                                            <div class="per-tree-con" style="display: none;"></div>
                                        </div>
                                        <div class="per-tree-temp">
                                            <div itemtext="sh" class="per-tree-title per-structure-single" title="">
                                                <div class="per-slh">
                                                    <span fold="" class="per-tree-arrow" style="visibility: hidden;">r</span>
                                                    <b itemtextval="">上海</b>
                                                </div>
                                            </div>
                                            <div class="per-tree-con" style="display: none;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="per-tree-temp">
                                    <div itemtext="hg" itdmar="true" class="per-tree-title per-structure-single" title="">
                                        <div class="per-slh">
                                            <span fold="" class="per-tree-arrow" style="visibility: visible;">r</span>
                                            <b itemtextval="" pdisabled="true">韩国</b>
                                        </div>
                                    </div>
                                    <div class="per-tree-con" style="display: none;">
                                        <div class="per-tree-temp">
                                            <div itemtext="se" class="per-tree-title per-structure-single">
                                                <div class="per-slh">
                                                    <span fold="" class="per-tree-arrow" style="visibility: hidden;">r</span>
                                                    <b itemtextval="">首尔</b>
                                                </div>
                                            </div>
                                            <div class="per-tree-con" style="display: none;"></div>
                                        </div>
                                        <div class="per-tree-temp">
                                            <div itemtext="hc" class="per-tree-title per-structure-single">
                                                <div class="per-slh">
                                                    <span fold="" class="per-tree-arrow" style="visibility: hidden;">r</span>
                                                    <b itemtextval="">汉城</b>
                                                </div>
                                            </div>
                                            <div class="per-tree-con" style="display: none;"></div>
                                        </div>
                                        <div class="per-tree-temp">
                                            <div itemtext="jzd" class="per-tree-title per-structure-single">
                                                <div class="per-slh">
                                                    <span fold="" class="per-tree-arrow" style="visibility: hidden;">r</span>
                                                    <b itemtextval="">济州岛</b>
                                                </div>
                                            </div>
                                            <div class="per-tree-con" style="display: none;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="per-tree-temp">
                            <div itemtext="oz" class="per-tree-title per-structure-single" title="">
                                <div class="per-slh">
                                    <span fold="" class="per-tree-arrow" style="visibility: visible;">r</span>
                                    <b itemtextval="">欧洲</b>
                                </div>
                            </div>
                            <div class="per-tree-con" style="display: none;">
                                <div class="per-tree-temp">
                                    <div itemtext="yg" class="per-tree-title per-structure-single">
                                        <div class="per-slh">
                                            <span fold="" class="per-tree-arrow" style="visibility: visible;">r</span>
                                            <b itemtextval="">英国英国英国英国英国英国英国英国英国英国英国英国英国英国英国英国英国英国英国英国英国英国英国英国英国英国</b>
                                        </div>
                                    </div>
                                    <div class="per-tree-con" style="display: none;">
                                        <div class="per-tree-temp">
                                            <div itemtext="ld" class="per-tree-title per-structure-single">
                                                <div class="per-slh">
                                                    <span fold="" class="per-tree-arrow" style="visibility: hidden;">r</span>
                                                    <b itemtextval="">伦敦</b>
                                                </div>
                                            </div>
                                            <div class="per-tree-con" style="display: none;"></div>
                                        </div>
                                        <div class="per-tree-temp">
                                            <div itemtext="nj" class="per-tree-title per-structure-single">
                                                <div class="per-slh">
                                                    <span fold="" class="per-tree-arrow" style="visibility: hidden;">r</span>
                                                    <b itemtextval="">牛津</b>
                                                </div>
                                            </div>
                                            <div class="per-tree-con" style="display: none;"></div>
                                        </div>
                                        <div class="per-tree-temp">
                                            <div itemtext="bmh" class="per-tree-title per-structure-single">
                                                <div class="per-slh">
                                                    <span fold="" class="per-tree-arrow" style="visibility: hidden;">r</span>
                                                    <b itemtextval="">伯明翰</b>
                                                </div>
                                            </div>
                                            <div class="per-tree-con" style="display: none;"></div>
                                        </div>
                                        <div class="per-tree-temp">
                                            <div itemtext="lwp" class="per-tree-title per-structure-single">
                                                <div class="per-slh">
                                                    <span fold="" class="per-tree-arrow" style="visibility: hidden;">r</span>
                                                    <b itemtextval="">利物浦</b>
                                                </div>
                                            </div>
                                            <div class="per-tree-con" style="display: none;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="per-tree-temp">
                                    <div itemtext="fg" class="per-tree-title per-structure-single">
                                        <div class="per-slh">
                                            <span fold="" class="per-tree-arrow" style="visibility: visible;">r</span>
                                            <b itemtextval="">法国</b>
                                        </div>
                                    </div>
                                    <div class="per-tree-con" style="display: none;">
                                        <div class="per-tree-temp">
                                            <div itemtext="bl" class="per-tree-title per-structure-single">
                                                <div class="per-slh">
                                                    <span fold="" class="per-tree-arrow" style="visibility: hidden;">r</span>
                                                    <b itemtextval="">巴黎</b>
                                                </div>
                                            </div>
                                            <div class="per-tree-con" style="display: none;"></div>
                                        </div>
                                        <div class="per-tree-temp">
                                            <div itemtext="ael" class="per-tree-title per-structure-single">
                                                <div class="per-slh">
                                                    <span fold="" class="per-tree-arrow" style="visibility: hidden;">r</span>
                                                    <b itemtextval="">奥尔良</b>
                                                </div>
                                            </div>
                                            <div class="per-tree-con" style="display: none;"></div>
                                        </div>
                                        <div class="per-tree-temp">
                                            <div itemtext="blst" class="per-tree-title per-structure-single">
                                                <div class="per-slh">
                                                    <span fold="" class="per-tree-arrow" style="visibility: hidden;">r</span>
                                                    <b itemtextval="">布鲁斯特</b>
                                                </div>
                                            </div>
                                            <div class="per-tree-con" style="display: none;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div horizontal="" class="per-scrollbar__bar per-is-horizontal" style="display: none;">
                <div horizontalbar="" class="per-scrollbar__thumb"></div>
            </div>
            <div vertical="" class="per-scrollbar__bar per-is-vertical" style="display: none;">
                <div verticalbar="" class="per-scrollbar__thumb"></div>
            </div>
        </div>
    </div>
</div>
<!-- </script> -->