#multiplePopContent{
    width:100%;
    height:100%;
    /* background:#ccc; */
    box-sizing: border-box;
    display:flex;
    flex-flow: row nowrap;
    position:relative;
}
.multiplePopContent .pageLeft,.multiplePopContent .pageRight{
    height:inherit;
}
.multiplePopContent .pageLeft{
    width:280px;
    border-right:1px solid #d9e2e8;
    box-sizing: border-box;
    /* overflow-y:scroll; */
}
.multiplePopContent .pageLeft .choiceCondition{
    border-bottom:1px solid #d9e2e8;
    min-height:90px;
    /* padding-left:16px; */
    padding-top:18px;
}
.multiplePopContent .pageLeft .choiceCondition:last-child{
    border-bottom:none;
}
.multiplePopContent .pageLeft .choiceCondition .title{
    font-size:16px;
    font-weight: 500;
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin-left:16px;
}
.multiplePopContent .pageLeft .choiceCondition .title .branch{
    font-size:14px;
    margin-right:14px;
}
.multiplePopContent .pageLeft .choiceCondition .content{
    padding-top:12px;
}
.multiplePopContent .pageLeft .choiceCondition .content .choiceProject{
    margin-bottom:20px;
}
.multiplePopContent .pageLeft .choiceCondition .content .choiceProject>div{
    width:242px;
}
.multiplePopContent .pageLeft .choiceCondition .content .addProject{
    border: 1px solid #cecece;
    text-align: center;
    width: 242px;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    margin-left:16px;
}

.multiplePopContent .pageLeft .choiceCondition .content .choiceTimeOp{
    margin-bottom:12px;
    margin-left:16px;
}
.multiplePopContent .pageLeft .choiceCondition .content .choiceTimeOp .timer{
    height:30px;
    width:240px;
    display:flex;
    flex-flow: row nowrap;
}
.multiplePopContent .pageLeft .choiceCondition .content .choiceTimeOp .timer >span{
    width:220px;
    height:30px;
    line-height:30px;
    text-align:center;
    border:1px solid #d9e2e8;
    cursor:pointer;
    box-sizing: border-box;
}
.multiplePopContent .pageLeft .choiceCondition .content .choiceTimeOp .per-calendar-title{
    width:242px;
}
.multiplePopContent .pageLeft .choiceCondition .content .choiceTimeOp .timer >em{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #d9e2e8;
    border-left: none;
    box-sizing: border-box;
}
.multiplePopContent .pageLeft .choiceCondition .content .addTimeBtn >div{
    width:242px;
    margin-bottom:14px;
}
.multiplePopContent .pageLeft .choiceCondition .content .choiceSubentry{
    width:280px;;
    height:400px;
}
.multiplePopContent .pageLeft .choiceCondition .content .choiceSubentry .floatemp{
    height:400px;
}
/* 未匹配分项相关 */
.multiplePopContent .pageLeft .choiceCondition .subentryNotMatch{
    margin-top:20px;
}
.multiplePopContent .pageLeft .choiceCondition .subentryNotMatch >.sTit{
    color:#ff6666;
    font-size:16px;
}
.multiplePopContent .pageLeft .choiceCondition .subentryNotMatch >.notMatchList{

}
.multiplePopContent .pageLeft .choiceCondition .subentryNotMatch >.notMatchList .pName{
    height:30px;
    font-size:16px;
    line-height:30px;
    color:#ff6666;
    border-bottom:1px solid #d9e2e8;
    margin-bottom:8px;
}
.multiplePopContent .pageLeft .choiceCondition .subentryNotMatch >.notMatchList .addsubentryBtn{
    text-align:center;
    margin-top:10px;
    width:240px;
}
.multiplePopContent .pageLeft .choiceCondition .subentryNotMatch >.notMatchList .addsubentryBtn >div{
    width:240px;
}
.multiplePopContent .pageLeft .choiceCondition .subentryNotMatch >.notMatchList .subAbout .subList{
    min-height: 30px;
    width: 240px;
    display: flex;
    flex-flow: column nowrap;
    /* line-height: 30px; */
    /* border: 1px solid #d9e2e8; */
    border-radius: 4px;
    margin-top: 10px;
}
.multiplePopContent .pageLeft .choiceCondition .subentryNotMatch >.notMatchList .subAbout .subList .subOption{
    height: 30px;
    width: 240px;
    display: flex;
    flex-flow: row nowrap;
    line-height: 30px;
    border: 1px solid #d9e2e8;
    border-radius: 4px;
    margin-top: 10px;
}
.multiplePopContent .pageLeft .choiceCondition .subentryNotMatch >.notMatchList .subAbout .subList .subOption >span{
    display:block;
    width:220px;
    height:30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    border-right:1px solid #d9e2e8;
    cursor: pointer;
}
.multiplePopContent .pageLeft .choiceCondition .subentryNotMatch >.notMatchList .subAbout .subList .subOption >em{
    display: block;
    width: 30px;
    text-align: center;
    cursor:pointer;
}
.multiplePopContent .pageLeft .choiceCondition .subentryNotMatch >.notMatchList .subAbout .subList .subBranch >ul li span{
    display: block;
    height: 20px;
    line-height: 20px;
    margin-top: 4px;
    padding-left: 20px;
    width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}
.multiplePopContent .pageLeft .choiceCondition .subentryNotMatch >.notMatchList .subAbout .subList .subBranch >ul li span.isSelected{
    color:#02a9d1;
}
/* 确定生成报表 */
.multiplePopContent .pageLeft .confirmCommit{
    /* width: 180px; */
    height: 30px;
    text-align:center;
    margin-top: 50px;
    margin-bottom: 20px;
}
.multiplePopContent .pageLeft .confirmCommit >div{
    width:180px;
    text-align:center;
}

/* 右侧 */
.multiplePopContent .pageRight{
    width: calc(100% - 280px);
}
.multiplePopContent .pageRight .topNav{
    height:50px;
    width:100%;
    border-bottom:1px solid #d9e2e8;
    display:flex;
    flex-flow:row nowrap;
    align-items: center;
    position:relative;
}
.multiplePopContent .pageRight .topNav .gridOption{
    width:166px;
    height:50px;
    box-sizing: border-box;
    padding:14px 20px;
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    border-right:1px solid #d9e2e8;
}
.multiplePopContent .pageRight .topNav .gridOption >div:last-child{
    margin-left:20px;
}
.multiplePopContent .pageRight .topNav .numberOption{
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    width:158px;
    height:50px;
    padding:14px 20px;
    box-sizing: border-box;
    border-right:1px solid #d9e2e8;
}
.multiplePopContent .pageRight .topNav .numberOption >ul{
    display:flex;
    flex-flow: row nowrap;
    align-items: center;

}
.multiplePopContent .pageRight .topNav .numberOption >ul >li{
    margin-right:20px;
}
.multiplePopContent .pageRight .topNav .numberOption >ul >li:hover{
    cursor:pointer;
}
.multiplePopContent .pageRight .topNav .numberOption >ul >li.checked{
    color:#02a9d1;
}


.multiplePopContent .pageRight .topNav .energyOption{
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    height:50px;
    padding:14px 20px;
    box-sizing: border-box;
    border-right:1px solid #d9e2e8;
    margin-right:20px;
}
.multiplePopContent .pageRight .topNav .energyOption >ul{
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
}
.multiplePopContent .pageRight .topNav .energyOption >ul >li{
    margin-right:20px;
}
.multiplePopContent .pageRight .topNav .energyOption >ul >li:hover{
    cursor:pointer;
}
.multiplePopContent .pageRight .topNav .energyOption >ul >li.checked{
    color:#02a9d1;
}

.multiplePopContent .pageRight .topNav .popColor{
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
}
.multiplePopContent .pageRight .topNav .popColor >span{
    display:block;
}
.multiplePopContent .pageRight .topNav .popColor .list{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-left: 10px;
    margin-top: 4px;
}
.multiplePopContent .pageRight .topNav .popColor .list >li{
    margin-left:4px;
}
.multiplePopContent .pageRight .topNav .operatOption{
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    height:50px;
    padding:14px 20px;
    box-sizing: border-box;
    position:absolute;
    right:0;
    top:0;
    /* border-right:1px solid #d9e2e8; */
}
.multiplePopContent .pageRight .topNav .operatOption >.list{
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
}
.multiplePopContent .pageRight .topNav .operatOption >.list >li{
    margin-right:10px;
    position: relative;
}
.multiplePopContent .pageRight .topNav .operatOption >.list >li .btn{

}
.multiplePopContent .pageRight .topNav .operatOption >.list >li .downloadBlock{
    width:100px;
    height:60px;
    position:absolute;
    top:29px;
    right:0;
    border:1px solid #d9e2e8;
}
.multiplePopContent .pageRight .topNav .operatOption >.list >li .downloadBlock >ul{
    width:100px;
    height:60px;
    
}
.multiplePopContent .pageRight .topNav .operatOption >.list >li .downloadBlock >ul >li{
    height:30px;
    line-height:30px;
    cursor:pointer;
}

.multiplePopContent .pageRight .topNav .operatOption >.list >li .downloadBlock >ul >li:hover{
    background:#ccc;
}

/* 包含表格   和  右侧生成的记录 */
.multiplePopContent .pageRight .contentPart{
    width:100%;
    height:calc(100% - 60px);
    display: flex;
    flex-flow: row nowrap;
}
.multiplePopContent .pageRight .contentPart .aboutChart{
    width: calc(100% - 260px);
    height: 100%;
    overflow-y: scroll;
    overflow-y: overlay;
    border-right: 1px solid #d9e2e8;
    /* background: #f7f7f9; */
    box-sizing: border-box;
    position: relative;
}
.multiplePopContent .pageRight .contentPart .aboutChart .chartOperat{
    height:40px;
    display:flex;
    flex-flow:row nowrap;
    align-items: center;
    justify-content: space-between;
    padding:0 10px;
}
.multiplePopContent .pageRight .contentPart .aboutChart .chartContent .chartY{
    width: 70px;
    position: absolute;
    right: 0;
    top: 406px;
} 
.multiplePopContent .pageRight .contentPart .aboutChart .chartOperat .edit{
    display:flex;
    flex-flow:column nowrap;
    margin-top:10px;
}
.multiplePopContent .pageRight .contentPart .aboutChart .chartOperat .edit >span{
    display: block;
}
.multiplePopContent .pageRight .contentPart .aboutChart .noData{
    width: 400px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -50px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.multiplePopContent .pageRight .contentPart .aboutChart .noData >h3{
    color:#cacaca;
    font-size:26px;
}
.multiplePopContent .pageRight .contentPart .aboutChart .noData >span{
    color:#637E99;
    font-size:18px;
    margin-top:16px;
}
.pchart_backcolumn {
    opacity: 0.16;
}

.multiplePopContent .pageRight .contentPart .aboutRecord{
    width:260px;
    height:calc(100% - 60px);
    overflow-y:scroll;
    overflow-x: hidden;
}
.multiplePopContent .pageRight .contentPart .aboutRecord .title{
    width:260px;
    height:50px;
    line-height:50px;
    border-bottom:1px solid #d9e2e8;
    text-align: center;
}
.multiplePopContent .pageRight .contentPart .aboutRecord .title >span{
    display:block;
    font-size:16px;
    /* margin-left: 20px; */
}

.multiplePopContent .pageRight .contentPart .aboutRecord .content{
    padding-left:16px;
    padding-top:10px;
}

.multiplePopContent .pageRight .contentPart .aboutRecord .content >h3{
    font-weight:bold;
    font-size: 15px;
}

.multiplePopContent .pageRight .contentPart .aboutRecord .content .list{
    margin-top: 8px;
    background: #FBFBFC;
    padding: 10px 6px;
}
.multiplePopContent .pageRight .contentPart .aboutRecord .content .list .block >ul{
    margin-top:6px;
}
.multiplePopContent .pageRight .contentPart .aboutRecord .content .list .block >ul >li{
    width: 80%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 6px;
}
/* 选择时间控件 */

#choiceTimePop{
    position:absolute;
    display:none;
}
#choiceTimePop .per-calendar-title{
    display:none;
}
#choiceTimePop .per-calendar-con{
    display:block!important;
}


