.boxshadow {
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.12); }

[v-cloak],
[v-show],
[v-if] {
  display: none !important; }

.clear:after {
  content: "   ";
  display: block;
  height: 0;
  clear: both; }

.icon {
  font-family: perficon; }

.textover {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

#app {
  height: 100%; }
  #app .left {
    float: left;
    width: 279px;
    height: 100%;
    border-right: 1px solid #D9E2E8; }
    #app .left .section {
      padding: 0 20px;
      border-bottom: 1px solid #D9E2E8; }
      #app .left .section .title {
        display: inline-block;
        margin-top: 8px;
        line-height: 36px;
        font-size: 16px; }
      #app .left .section .block {
        padding-bottom: 8px; }
        #app .left .section .block .line {
          margin-bottom: 10px; }
          #app .left .section .block .line .project {
            height: 30px;
            border: 1px solid #D9E2E8;
            border-radius: 1px;
            line-height: 30px;
            cursor: pointer;
            padding-left: 20px;
            background: #F7F7F9; }
            #app .left .section .block .line .project em {
              display: inline-block;
              vertical-align: middle;
              color: #637E99;
              max-width: 40%; }
        #app .left .section .block .same {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          align-items: center; }
          #app .left .section .block .same .imgborder {
            border-radius: 2px;
            border: 1px solid #CACACA;
            width: 68px;
            height: 68px;
            cursor: pointer; }
            #app .left .section .block .same .imgborder img {
              margin-left: 50%;
              margin-top: 50%;
              transform: translate(-50%, -50%); }
            #app .left .section .block .same .imgborder .hove {
              display: none; }
          #app .left .section .block .same .imgborder:hover .init,
          #app .left .section .block .same .imgborder.on .init {
            display: none; }
          #app .left .section .block .same .imgborder:hover .hove,
          #app .left .section .block .same .imgborder.on .hove {
            display: block; }
    #app .left .footbtn {
      position: absolute;
      bottom: 0;
      left: 78px;
      height: 50px;
      width: 80px; }
  #app .right {
    margin-left: 280px;
    height: 100%; }
    #app .right .content {
      height: calc(100% - 50px);
      position: relative; }
      #app .right .content .r {
        float: right;
        height: 100%;
        width: 260px;
        box-sizing: border-box;
        border-left: 1px solid #D9E2E8; }
        #app .right .content .r .title {
          display: block;
          font-size: 16px;
          margin-left: 20px; }
      #app .right .content .l {
        position: absolute;
        height: 100%;
        right: 260px;
        top: 0;
        left: 0;
        bottom: 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: stretch; }
        #app .right .content .l .chartTitle {
          height: 70px;
          box-sizing: border-box;
          position: relative;
          margin-bottom: -30px; }
          #app .right .content .l .chartTitle .chartname {
            position: absolute;
            display: none;
            top: 16px;
            left: 20px;
            font-size: 16px;
            color: #333333;
            line-height: 16px; }
          #app .right .content .l .chartTitle .unit {
            position: absolute;
            top: 24px;
            right: 44px;
            font-size: 12px;
            color: #333333;
            line-height: 12px; }
          #app .right .content .l .chartTitle .icon_click {
            position: absolute;
            top: 24px;
            left: 20px;
            width: 16px;
            height: 16px;
            z-index: 10;
            color: #7A94AD; }
        #app .right .content .l .chart {
          flex: 521;
          box-sizing: border-box;
          border-bottom: 1px solid #D9E2E8;
          overflow: auto; }
          #app .right .content .l .chart .charth {
            height: 50px;
            font-size: 16px;
            color: #333333;
            line-height: 50px;
            margin-bottom: -30px;
            padding: 0 12px; }
          #app .right .content .l .chart .item {
            height: 236px; }
          #app .right .content .l .chart .unitr {
            float: right;
            font-size: 12px; }
        #app .right .content .l .zom {
          flex: 150;
          border-bottom: 1px solid #D9E2E8; }
        #app .right .content .l .tb {
          flex: 310;
          overflow: auto; }
        #app .right .content .l .tab_table {
          display: flex;
          justify-content: flex-start; }
          #app .right .content .l .tab_table_item {
            line-height: 20px;
            width: 100px;
            box-sizing: border-box;
            border: 1px solid #D9E2E8;
            cursor: pointer;
            text-align: center;
            color: #6D6D6D; }
          #app .right .content .l .tab_table_item.on {
            color: #02A9D1; }
    #app .right .tab {
      box-sizing: border-box;
      height: 50px;
      line-height: 50px;
      padding: 0 20px 0 0;
      border-bottom: 1px solid #D9E2E8;
      white-space: nowrap; }
      #app .right .tab .colorp {
        float: left;
        margin: 10px; }
      #app .right .tab .iconlist {
        position: absolute;
        right: 0px;
        top: 10px;
        z-index: 10; }

/*# sourceMappingURL=heatmap.css.map */
