.overflowDot {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle
}

#singleSlidePage {
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap
}

.singleComparePage .pageLeft {
    width: 280px;
    border-right: 1px solid #d9e2e8;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.singleComparePage .pageLeft .choiceCondition {
    border-bottom: 1px solid #d9e2e8;
    min-height: 90px;
    padding-top: 18px
}

.singleComparePage .pageLeft .choiceCondition:last-child {
    border-bottom: none
}

.singleComparePage .pageLeft .choiceCondition .title {
    font-size: 16px;
    font-weight: 500;
    padding-left: 16px
}

.singleComparePage .pageLeft .choiceCondition .content {
    padding-top: 16px
}

.singleComparePage .pageLeft .choiceCondition .content .choiceProject>div {
    width: 242px;
    margin-left: 16px
}

.singleComparePage .pageLeft .choiceCondition .content .choiceTimeOp {
    margin-bottom: 12px
}

.singleComparePage .pageLeft .choiceCondition .content .choiceTimeOp>div {
    width: 242px;
    margin-left: 16px
}

.singleComparePage .pageLeft .choiceCondition .content .choiceTimeOp>div .per-calendar-title {
    width: 100%
}

.singleComparePage .pageLeft .choiceCondition .content .addTimeBtn>div {
    width: 242px;
    margin-bottom: 14px
}

.singleComparePage .pageLeft .choiceCondition .content .choiceSubentry {
    width: 280px
}

.singleComparePage .pageLeft .choiceCondition .content .addProject {
    border: 1px solid #cecece;
    text-align: center;
    width: 242px;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    margin-left: 16px
}

.singleComparePage .pageLeft .choiceCondition .content .choiceSubentry .floatemp {
    height: 500px
}

.singleComparePage .pageLeft .choiceCondition .content .choiceSubentry .addSubentry {
    border: 1px solid #cecece;
    text-align: center;
    width: 242px;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    color: #637e99
}

.singleComparePage .pageLeft .choiceCondition .content .choiceSubentry .addSubentry.disabled {
    background: #e6e6e6;
    color: #fff
}

.singleComparePage .pageLeft .operatBtn {
    position: absolute;
    bottom: 100px;
    left: 40px
}

.singleComparePage .pageLeft .operatBtn>div {
    width: 200px
}

.singleComparePage .pageRight {
    width: calc(100% - 280px)
}

.singleComparePage .pageRight .neck {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 50px;
    line-height: 50px;
    padding: 0 20px 0 0;
    border-bottom: 1px solid #D9E2E8;
    white-space: nowrap
}

.singleComparePage .pageRight .tab .iconlist {
    float: right;
    line-height: 20px
}

.singleComparePage .pageRight .tab .iconlist .vg {
    height: 30px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle
}

.singleComparePage .pageRight .operatOption_ .noData {
    width: 400px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.singleComparePage .pageRight .operatOption_ .noData>h3 {
    color: #cacaca;
    font-size: 26px
}

.singleComparePage .pageRight .operatOption_ .noData>span {
    color: #637E99;
    font-size: 18px;
    margin-top: 16px
}

.energyConsumption,
.types,
.monthOrDay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
    padding: 14px 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-right: 1px solid #d9e2e8
}

.energyConsumption li,
.types li,
.monthOrDay li {
    display: inline-block;
    margin-left: 10px;
    cursor: pointer
}

.energyConsumption li:first-child,
.types li:first-child,
.monthOrDay li:first-child {
    margin-left: 0
}

.energyConsumption .checked,
.types .checked,
.monthOrDay .checked {
    color: #02a9d1
}

.buildingType {
    width: 166px;
    height: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 14px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-right: 1px solid #d9e2e8
}

.operatOption_ {
    width: 100%;
    height: calc(100% - 54px);
    position: relative
}

.dataVisualization {
    width: calc(100% - 258px);
    height: 100%;
    position: relative;
    overflow-y: auto
}

.dataVisualization .chart {
    width: 100%;
    position: relative;
    top: -30px;
}

.dataVisualization #barChart {
    width: 100%;
    height: 100%
}

.dataVisualization .supple {
    position: absolute;
    top: 20px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px
}

.dataVisualization .supple .unit {
    position: absolute;
    right: 10px;
    color: #6d6d6d;
    font-size: 12px;
    line-height: 19px
}

.dataVisualization h4 {
    font-size: 16px;
    color: #333;
    margin: 20px
}

.projectInformation {
    position: absolute;
    top: 0;
    right: 0;
    width: 258px;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-left: 1px solid #D9E2E8
}

.projectInformation .title {
    padding: 14px 20px;
    font-size: 16px;
    border-bottom: 1px solid #D9E2E8
}

.projectInformation .content {
    padding: 0 19px
}

.projectInformation .content h4 {
    margin: 20px 0 8px
}

.projectInformation .rise {
    margin-top: 2px;
    height: 40px;
    line-height: 40px;
    background-color: #fff8f8;
    padding: 0 42px 0 15px;
    position: relative
}

.projectInformation .rise:after {
    content: '2';
    font-family: perficon;
    position: absolute;
    right: 15px
}

.projectInformation .drop {
    margin-top: 2px;
    height: 40px;
    line-height: 40px;
    background-color: #F4FAF8;
    padding: 0 42px 0 15px;
    position: relative
}

.projectInformation .drop:after {
    content: '2';
    font-family: perficon;
    position: absolute;
    right: 15px
}

.pchart_backcolumn {
    opacity: 0.16
}

#mulProjectMessage .projectTop {
    position: relative;
    background: #FBFBFC;
    height: 30px;
    line-height: 30px;
    padding: 0 20px
}

#mulProjectMessage .projectTitle {
    position: relative;
    margin-left: 14px;
    padding: 0 20px
}

#mulProjectMessage .projectTitle .iconR {
    font-family: perficon;
    position: absolute;
    left: 3px;
    top: 4px;
    cursor: pointer;
    color: #7a94ad;
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1em;
    -webkit-transition: all .5s;
    transition: all .5s
}

#mulProjectMessage .projectNum {
    position: absolute;
    right: 25px
}

#mulProjectMessage .progressBg {
    width: 100%;
    height: 6px;
    background: #F1F3F4
}

#mulProjectMessage .progressBg .progress {
    width: 50%;
    height: 100%;
    background: #02a9d1
}

#mulProjectMessage .projectItem {
    position: relative;
    padding: 10px 20px 10px 34px;
    color: #6D6D6D
}

#mulProjectMessage .projectItem .word {
    margin-bottom: 5px
}

#mulProjectMessage .projectCon {
    margin: 15px 0
}

progress {
    width: 100%;
    height: 6px;
    border: none;
    background-color: #F1F3F4;
    color: #02a9d1
}

progress::-moz-progress-bar {
    background: #02a9d1
}

progress::-webkit-progress-bar {
    background: #F1F3F4
}

progress::-webkit-progress-value {
    background: #02a9d1
}

.per-calendar-con._combobox_left {
    display: none;
    position: fixed;
    top: 370px;
    left: 330px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.projects {
    -webkit-transition: all .5s;
    transition: all .5s;
    overflow: hidden;
    height: 0px;
}

.singleSlideChartHeightNoReport{
    height:calc(100% - 40px);
}

.singleSlideChartHeightWithReport{
    height:calc(100% - 231px);
}

/*# sourceMappingURL=SingleSlide.css.map */