#singleComparePage{
    width:100%;
    height:100%;
    /* background:#ccc; */
    box-sizing: border-box;
    display:flex;
    flex-flow: row nowrap;
    position:relative;
}
.singleComparePage .pageLeft,.singleComparePage .pageRight{
    height:inherit;
}
.singleComparePage .pageLeft{
    width:280px;
    border-right:1px solid #d9e2e8;
    box-sizing: border-box;
    overflow-y:scroll;
}
.singleComparePage .pageLeft .choiceCondition{
    /* border-bottom:1px solid #d9e2e8; */
    min-height:90px;
    padding-left:16px;
    padding-top:18px;
}
.singleComparePage .pageLeft .choiceCondition:last-child{
    border-bottom:none;
}
.singleComparePage .pageLeft .choiceCondition .title{
    font-size:16px;
    font-weight: 500;
}
.singleComparePage .pageLeft .choiceCondition .content{
    padding-top:16px;
}
.singleComparePage .pageLeft .choiceCondition .content .choiceProject>div{
    width:242px;
}
.singleComparePage .pageLeft .choiceCondition .content .choiceProject>.projectName{
    display:block;
    width:240px;
    height:28px;
    border: 1px solid #cecece;
    color: #637e99;
    text-align: center;
    line-height:28px;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}
.singleComparePage .pageLeft .choiceCondition .content .choiceProject>.projectName:hover{
    cursor:pointer;
}
.singleComparePage .pageLeft .choiceCondition .content .choiceTimeOp{
    margin-bottom:12px;
    
}
.singleComparePage .pageLeft .choiceCondition .content .choiceTimeOp .timer{
    height:30px;
    width:240px;
    display:flex;
    flex-flow: row nowrap;
}
.singleComparePage .pageLeft .choiceCondition .content .choiceTimeOp .timer >span{
    width:220px;
    height:30px;
    line-height:30px;
    text-align:center;
    border:1px solid #d9e2e8;
    cursor:pointer;
    box-sizing: border-box;
}
.singleComparePage .pageLeft .choiceCondition .content .choiceTimeOp .timer >em{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #d9e2e8;
    border-left: none;
    box-sizing: border-box;
    cursor: pointer;
}
.singleComparePage .pageLeft .choiceCondition .content .addTimeBtn >div{
    width:242px;
    margin-bottom:14px;
}
.singleComparePage .pageLeft .choiceCondition .content .choiceSubentry{
    width:242px;
    /* height:400px; */
}
.singleComparePage .pageLeft .choiceCondition .content .choiceSubentry .addSubentry{
    border: 1px solid #cecece;
    text-align: center;
    width: 242px;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    color: #637e99;
}
.singleComparePage .pageLeft .choiceCondition .content .choiceSubentry .addSubentry.disabled{
    background:#e6e6e6;
    color:#fff;
}
.singleComparePage .pageLeft .operatBtn{
    position:absolute;
    bottom: 100px;
    left:40px;
}
.singleComparePage .pageLeft .operatBtn >div{
    width:200px;
}
/* 右侧 */
.singleComparePage .pageRight{
    width: calc(100% - 280px);
}
.singleComparePage .pageRight .topNav{
    height:50px;
    width:100%;
    border-bottom:1px solid #d9e2e8;
    display:flex;
    flex-flow:row nowrap;
    align-items: center;
    position:relative;
}
.singleComparePage .pageRight .topNav .gridOption{
    width:166px;
    height:50px;
    box-sizing: border-box;
    padding:14px 20px;
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    border-right:1px solid #d9e2e8;
}
.singleComparePage .pageRight .topNav .gridOption >div:last-child{
    margin-left:20px;
}
.singleComparePage .pageRight .topNav .numberOption{
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    width:158px;
    height:50px;
    padding:14px 20px;
    box-sizing: border-box;
    border-right:1px solid #d9e2e8;
}
.singleComparePage .pageRight .topNav .numberOption >ul{
    display:flex;
    flex-flow: row nowrap;
    align-items: center;

}
.singleComparePage .pageRight .topNav .numberOption >ul >li{
    margin-right:20px;
}
.singleComparePage .pageRight .topNav .numberOption >ul >li:hover{
    cursor:pointer;
}
.singleComparePage .pageRight .topNav .numberOption >ul >li.checked{
    color:#02a9d1;
}


.singleComparePage .pageRight .topNav .energyOption{
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    height:50px;
    padding:14px 20px;
    box-sizing: border-box;
    /* border-right:1px solid #d9e2e8; */
}
.singleComparePage .pageRight .topNav .energyOption >ul{
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
}
.singleComparePage .pageRight .topNav .energyOption >ul >li{
    margin-right:20px;
}
.singleComparePage .pageRight .topNav .energyOption >ul >li:hover{
    cursor:pointer;
}
.singleComparePage .pageRight .topNav .energyOption >ul >li.checked{
    color:#02a9d1;
}

.singleComparePage .pageRight .topNav .operatOption{
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    height:50px;
    padding:14px 20px;
    box-sizing: border-box;
    position:absolute;
    right:0;
    top:0;
    /* border-right:1px solid #d9e2e8; */
}
.singleComparePage .pageRight .topNav .operatOption >.list{
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
}
.singleComparePage .pageRight .topNav .operatOption >.list >li{
    margin-right:10px;
    position: relative;
}
.singleComparePage .pageRight .topNav .operatOption >.list >li .btn{

}
.singleComparePage .pageRight .topNav .operatOption >.list >li .downloadBlock{
    width:100px;
    height:60px;
    position:absolute;
    top:29px;
    right:0;
    border:1px solid #d9e2e8;
}
.singleComparePage .pageRight .topNav .operatOption >.list >li .downloadBlock >ul{
    width:100px;
    height:60px;
    
}
.singleComparePage .pageRight .topNav .operatOption >.list >li .downloadBlock >ul >li{
    height:30px;
    line-height:30px;
    cursor:pointer;
}

.singleComparePage .pageRight .topNav .operatOption >.list >li .downloadBlock >ul >li:hover{
    background:#ccc;
}

/* 包含表格   和  右侧生成的记录 */
.singleComparePage .pageRight .contentPart{
    width:100%;
    display: flex;
    flex-flow: row nowrap;
}
.singleComparePage .pageRight .contentPart .aboutChart{
    width: calc(100% - 260px);
    height: calc(100% - 60px);
    overflow-y: scroll;
    overflow-y: overlay;
    border-right: 1px solid #d9e2e8;
    /* background: #f7f7f9; */
    box-sizing: border-box;
    position:relative;
}
.singleComparePage .pageRight .contentPart .aboutChart .noData{
    width: 400px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -50px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.singleComparePage .pageRight .contentPart .aboutChart .noData >h3{
    color:#cacaca;
    font-size:26px;
}
.singleComparePage .pageRight .contentPart .aboutChart .noData >span{
    color:#637E99;
    font-size:18px;
    margin-top:16px;
}
.singleComparePage .pageRight .contentPart .aboutChart .reportFrom{
    margin-top:20px;
}
.singleComparePage .pageRight .contentPart .aboutChart .chartOperat{
    height:40px;
    display:flex;
    flex-flow:row nowrap;
    align-items: center;
    justify-content: space-between;
    padding:0 20px;
}
.pchart_backcolumn {
    opacity: 0.16;
}

.singleComparePage .pageRight .contentPart .aboutRecord{
    width:260px;
    height:calc(100% - 60px);
    overflow-y:scroll;
    overflow-x: hidden;
}
.singleComparePage .pageRight .contentPart .aboutRecord .title{
    width:260px;
    height:30px;
    line-height:30px;
    border-bottom:1px solid #d9e2e8;
}
.singleComparePage .pageRight .contentPart .aboutRecord .title >span{
    display:block;
    font-size:16px;
    margin-left: 20px;
}

/* 选择时间控件 */

#choiceTimePop{
    position:absolute;
    display:none;
}
#choiceTimePop .per-calendar-title{
    display:none;
}
#choiceTimePop .per-calendar-con{
    display:block!important;
}