<% include ../../template/pageHead.html %>
<% include ../../pages/components/index.html %>
<link rel="stylesheet" href="../../css/single/Inquire.css">

<div id="app">
    <!-- 左侧内容 Start -->
    <div class="left">
        <!-- 筛选项目Start -->
        <div class="section clear">
            <span class="title">
                筛选项目
            </span>
            <div class="block">
                <div class="line">
                    <div @click.stop="showEnergyModel=!showEnergyModel" class="project">
                        <em class="textover" v-if="_.get(energyProjectBak,'projectName')" :title="_.get(energyProjectBak,'projectName')"
                            v-text="_.get(energyProjectBak,'projectName')"></em>
                        <template v-if="energyProjectBak && energyModelBak">></template>
                        <em class="textover" v-if="_.get(energyModelBak,'energyModelName')" :title="_.get(energyModelBak,'energyModelName')"
                            v-text="_.get(energyModelBak,'energyModelName')"></em>
                        <template v-if="!(energyProjectBak && energyModelBak)">请选择能耗模型</template>
                    </div>
                    <energymodel ref="energymodel" v-if="showEnergyModel" :propsprojectids="[energyProjectBak['projectId']]"
                        :propsmodelids="[energyModelBak['energyModelId']]" :cancel="handlercancelenergyModel" :cb="handlerclickenergyModel"></energymodel>
                    </energymodel>
                </div>
            </div>
        </div>
        <!-- 筛选项目End -->

        <!-- 筛选时间Start -->
        <div class="section">
            <span class="title">
                筛选时间
            </span>
            <!-- 单个时间选择控件 Start -->
            <timer ref="timer" :cb="timeClick"></timer>
            <!-- 单个时间选择控件 End -->
        </div>
        <!-- 筛选时间End -->
        <!-- 选择分项Start -->
        <div class="section" style="height: 50px;padding:0;">
            <suboption :cb="handlerclickSuboption" :tree="energyModelTree"></suboption>
        </div>
        <!-- 选择分项End -->
        <!-- 查询按钮 Start -->
        <div class="section footbtn" :pdisabled="!suboptionModelBak.length" @click.stop="suboptionModelBak.length?submitQuery():void 0">
            <pbutton-blue text="查询"></pbutton-blue>
        </div>
        <!-- 查询按钮 End -->

    </div>
    <!-- 左侧内容 End -->
    <!-- 右侧内容 Start -->
    <div class="right">

        <div ref="tab" class="tab">

            <vcheckbox ref="vcheckbox" :icon="'M'" :title="'布局'" :datasource="tableTypes" :iscombox="iscombox"
                :computewidth="computeWidth" :primarykey="'code'" :name="'name'" :selected="query.tables" :cb="createHandlerClick('tables')"></vcheckbox>

            <cobxs ref="cobxs" :icon="'%'" :title="'单位'" :datasource="areaTypres" :iscombox="iscombox" :computewidth="computeWidth"
                :primarykey="'code'" :name="'name'" :selected="query.areas" :cb="createHandlerClick('areas')"></cobxs>

            <cobxs ref="cobxs1" :icon="'g'" :title="'能源'" :datasource="energyTypes" :iscombox="iscombox" :computewidth="computeWidth"
                :primarykey="'code'" :name="'name'" :selected="query.energy" :cb="createHandlerClick('energy')"></cobxs>

            <vcheckbox v-show="isColumnar()" ref="vcheckbox1" :icon="'-'" :title="'辅助线'" :datasource="auxiliaryTypes"
                :iscombox="iscombox" :computewidth="computeWidth" :primarykey="'code'" :name="'name'" :selected="query.auxiliarys"
                :cb="createHandlerClick('auxiliarys')"></vcheckbox>


            <div ref="iconlist" class="iconlist">
                <navright :type="1" :down-click="downclick"></navright>
            </div>

        </div>

        <!-- 图表 和 辅助信息 Start -->
        <div class="content">
            <div class="l" v-show="suboptionModel.length">
                <div id="down">
                    <div class="chartTitle">
                        <div class="chartname" v-if="hasChart" v-text="_.get(energyProject,'projectName','') 
                    + (_.get(energyModel,'energyModelName',''))
                    +' '
                    +convertTimeByTimeType(selector.timeFrom,timeType2(selector.timeFrom,selector.timeTo))
                    +'-'
                    +convertTimeByTimeType(selector.timeTo,timeType2(selector.timeFrom,selector.timeTo))">
                        </div>
                        <div class="uni">
                            <unitandyset :unit="unit" :show="true" :confirm="setYAxis" :max="_.find(setMax,{isSelected:true}).value"
                                :min="_.find(setMin,{isSelected:true}).value"></unitandyset>
                        </div>
                    </div>
                    <div id="chart" ref="chart" class="chart"></div>
                </div>
                <div ref="masterChart" class="zom"></div>
                <div class="tb" v-show="_.filter(query.tables,{code:1}).length">
                    <inquiretable v-if="compuTables.list.length" :list="compuTables.list" :keys="compuTables.keys">
                    </inquiretable>
                </div>
            </div>
            <div class="l" v-show="!suboptionModel.length">
                <pnotice-nodata text="请先在左侧列表选择参数" subtitle=""></pnotice-nodata>
            </div>
            <div class="r">
                <!--  Tab切换 Start  -->
                <div class="tab_slide">
                    <div class="slide" :class="helpTab?'on':''" @click.stop="helpTab=!helpTab" style="border-right: 1px solid #D9E2E8;">参考信息</div>
                    <div class="slide" :class="helpTab?'':'on'" @click.stop="helpTab=!helpTab" style="border-left: 1px solid #D9E2E8;">辅助数据</div>
                </div>
                <!--  Tab切换 End  -->
                <!-- 单平米能耗Start -->
                <div class="tab_slide_block" v-cloak :key="1" v-if="_.get(queryDeatil,'length') && !_.isUndefined(_.find(query.areas,{code:2}))"
                    v-show="helpTab">
                    <span class="tab_slide_block_title">
                        能耗统计
                    </span>
                    <span class="tab_slide_block_desc">
                        累计单平米能耗
                    </span>
                    <span class="tab_slide_block_bignumber">
                        <em v-text="fix2(_.get(Reference,'total'))"></em> <em class="unit">kWh/㎡</em>
                    </span>
                    <span class="tab_slide_block_tip">
                        对应面积：<em v-text="fix2(_.get(suboptionModel,'[0].area',0))"></em> ㎡
                    </span>
                    <span class="tab_slide_block_desc" v-if="timer.timeType !='y'">
                        同比单平米能耗
                    </span>
                    <span class="tab_slide_block_smallnumber" v-if="timer.timeType !='y'">
                        <span class="num" v-text="fix2(_.get(Reference,'sameData',0))"></span>

                        <span class="unit" v-text="unit">
                        </span>
                        <span v-if="_.get(app.Reference,'sameData')" class="rtext" :class="_.get(Reference,'total')>_.get(Reference,'sameData')?'up':'down'"
                            v-text="compare(_.get(Reference,'total'),_.get(Reference,'sameData')) + '%'">

                        </span>
                        <img class="pic" v-if="_.get(Reference,'total')&&_.get(Reference,'sameData')" :class="_.get(Reference,'total')>_.get(Reference,'sameData')?'up':'pdonw'"
                            :src="_.get(Reference,'total')>_.get(Reference,'sameData')?'../../../images/up.png':'../../../images/down.png'">
                    </span>
                    <span class="tab_slide_block_desc" v-if="timer.timeType !='y'">
                        环比单平米能耗
                    </span>
                    <span class="tab_slide_block_smallnumber" v-if="timer.timeType !='y'">
                        <span class="num" v-text="fix2(_.get(Reference,'circleData',''))"></span>

                        <span class="unit" v-text="unit">
                        </span>
                        <span v-if="_.get(app.Reference,'sameData')" class="rtext" :class="_.get(Reference,'total')>_.get(Reference,'circleData')?'up':'down'"
                            v-text="compare(_.get(Reference,'total'),_.get(Reference,'circleData')) + '%'">

                        </span>
                        <img class="pic" v-if="_.get(Reference,'total') && _.get(Reference,'circleData')" :class="_.get(Reference,'total')>_.get(Reference,'circleData')?'up':'pdonw'"
                            :src="_.get(Reference,'total')>_.get(Reference,'circleData')?'../../../images/up.png':'../../../images/down.png'">
                    </span>
                </div>
                <!-- 单平米能耗End -->
                <!-- 能耗Start -->
                <div class="tab_slide_block" v-cloak :key="2" v-if="_.get(queryDeatil,'length') && !_.isUndefined(_.find(query.areas,{code:1}))"
                    v-show="helpTab">
                    <span class="tab_slide_block_title">
                        能耗统计
                    </span>
                    <span class="tab_slide_block_desc">
                        总能耗
                    </span>
                    <span class="tab_slide_block_bignumber">
                        <em v-text="fix2(_.get(Reference,'total'))"></em> <em class="unit" v-text="unit"></em>
                    </span>
                    <span class="tab_slide_block_tip">
                        数据来源：{{_.get(suboptionModel,'[0].content',[]).length?'下级分项汇总':'设备调研'}}
                    </span>
                    <div class="circle">
                        <div class="circle_item">
                            <span class="circle_item_title">
                                占上级能耗比例
                            </span>
                            <div class="circle_item_chart">
                                <span class="ctitle">
                                    <em v-text="fix2(Reference.total/Reference.parent*100)"></em>
                                    <span class="unit">
                                        %
                                    </span>
                                </span>
                                <canvas ref="parentchart" width="100" height="100"></canvas>
                            </div>
                        </div>
                        <div class="circle_item">
                            <span class="circle_item_title">
                                占总能耗比例
                            </span>
                            <div class="circle_item_chart">
                                <span class="ctitle">
                                    <em v-text="fix2(Reference.total/Reference.superparent*100)"></em>
                                    <span class="unit">
                                        %
                                    </span>
                                </span>
                                <canvas ref="superparent" width="100" height="100"></canvas>
                            </div>
                        </div>
                    </div>
                    <span class="tab_slide_block_desc" v-if="isTimeSpan && timer.timeType !='y'">
                        同比能耗
                    </span>
                    <span class="tab_slide_block_smallnumber" v-if="isTimeSpan && timer.timeType !='y'">
                        <span class="num" v-text="fix2(_.get(Reference,'sameData',''))">
                            18.5
                        </span>

                        <span class="unit" v-text="unit">
                        </span>
                        <span class="rtext" :class="_.get(Reference,'total')>_.get(Reference,'sameData')?'up':'down'"
                            v-text="compare(_.get(Reference,'total'),_.get(Reference,'sameData')) + '%'"></span>
                        <img class="pic" :class="_.get(Reference,'total')>_.get(Reference,'sameData')?'up':'pdonw'"
                            :src="_.get(Reference,'total')>_.get(Reference,'sameData')?'../../../images/up.png':'../../../images/down.png'">
                    </span>
                    </span>
                    <span class="tab_slide_block_desc" v-if="isTimeSpan && timer.timeType !='y'">
                        环比能耗
                    </span>
                    <span class="tab_slide_block_smallnumber" v-if="isTimeSpan && timer.timeType !='y'">
                        <span class="num" v-text="fix2(_.get(Reference,'circleData',0))">
                            18.5
                        </span>

                        <span class="unit" v-text="unit">
                        </span>
                        <span class="rtext" :class="_.get(Reference,'total')>_.get(Reference,'circleData')?'up':'down'"
                            v-text="compare(_.get(Reference,'total'),_.get(Reference,'circleData')) + '%'"></span>
                        <img class="pic" :class="_.get(Reference,'total')>_.get(Reference,'circleData')?'up':'pdonw'"
                            :src="_.get(Reference,'total')>_.get(Reference,'circleData')?'../../../images/up.png':'../../../images/down.png'">
                    </span>
                    </span>
                </div>
                <!-- 能耗End -->
                <!-- 下级能耗分项Start -->
                <div class="tab_slide_block" v-cloak :key="3" v-if="_.get(queryDeatil,'length') && !_.isUndefined(_.find(query.areas,{code:3}))"
                    v-show="helpTab">
                    <span class="tab_slide_block_title">
                        能耗统计
                    </span>
                    <span class="tab_slide_block_desc">
                        总能耗
                    </span>
                    <span class="tab_slide_block_bignumber">
                        <em v-text="fix2(_.sum( _.map(Reference.series,'y')))"></em> <em class="unit" v-text="unit"></em>
                    </span>
                    <span class="tab_slide_block_title">
                        下级能耗占比
                    </span>
                    <div class="circle">
                        <div class="circle_item">
                            <span class="circle_item_title">
                                占上级能耗比例
                            </span>
                            <div class="circle_item_chart" style="width:200px;height:180px" @mouseover.captrue.stop="console.log(123)"
                                ref="pie">

                            </div>
                        </div>
                    </div>
                    <inquirelist :list="Reference.series" :unit="'unit'" :name="'x'" :value="'y'"></inquirelist>
                </div>
                <!-- 下级能耗分项End -->
                <!-- 室内环境Start -->
                <div class="tab_slide_list" v-cloak v-if="!helpTab">
                    <div class=" item fst">室外环境</div>


                    <div class="item" v-for="(item,index) in abledHelpList" @click.stop="helpClick(item)" :class="helpSelected == item.code?'on':''"
                        :title="item.name" v-text="item.name"></div>
                </div>
                <!-- 室内环境End -->
            </div>
        </div>
        <!-- 图表 和 辅助信息 End -->

    </div>
    <!-- 右侧内容 End -->
</div>
<script src="../../js/single/Inquire/controller.js"></script>
<script src="../../js/single/Inquire/model.js"></script>

<% include ../../template/pageFoot.html %>