<% include ../../template/pageHead.html %>

<script type="text/javascript" src="<%=host%>/scripts/lib/highcharts-more.src.js"></script>

<link rel="stylesheet" href="../../css/single/SingleCompared.css" />
<script type="text/javascript" src="../../../js/single/compared/model.js"></script>
<script type="text/javascript" src="../../../js/single/compared/controller.js"></script>


<!-- 表格模板 -->
<% include ../components/girdTemplate.html %>

<!-- 右侧记录列表模板 -->
<% include ../components/recordListTemplate.html %>

<!-- 选择项目组件 -->
<% include ../../pages/components/index.html %>

<div id="singleComparePage" class="singleComparePage">
    <div class="pageLeft">
        <div class="choiceCondition">
            <div class="title">
                选择项目

            </div>
            <div class="content">
                <div class="choiceProject">
                    <span class="projectName" :title="addProjectTxt" v-text="addProjectTxt" @click="addProjectShow">

                    </span>
                </div>

                <energymodel v-if="showEnergyModel" :propsprojectids="_.map(projects,'projectId')" :propsmodelids="_.map(modelids,'energyModelId')"
                    :cancel="addProjectHide" :cb="addProjectCallBack">
                </energymodel>

            </div>
        </div>
        <div class="choiceCondition">
            <div class="title">
                选择时间
            </div>
            <!-- 单个时间选择控件 Start -->
            <div class="content">
                <multtimerall :cb="timeClick"></multtimerall>
            </div>
            
            <!-- 单个时间选择控件 End -->
        </div>
        <div class="choiceCondition">
            <div class="title">
                选择分项
            </div>
            <div class="content">
                <div class="choiceSubentry">
                    <div class="addSubentry" v-text="addSubentryTxt" class="content" :item="JSON.stringify(subentryDisabled)"
                        :class="{disabled:!subentryDisabled}" @click="addSubetryShow">
                        添加分项
                    </div>
                </div>


            </div>
        </div>

        <div class="operatBtn">
            <pbutton-blue bind="true" text="'确定'" @click="confirmSearchListFn"></pbutton-blue>
        </div>
    </div>
    <div class="pageRight">
        <div class="topNav">
            <div class="gridOption">
                <div class="gridOptionItem">
                    <pswitch-checkbox text="报表" id="reportId" state="false" change="singleCompare.showReportFn"></pswitch-checkbox>
                </div>
            </div>
            <div class="numberOption">
                <ul>
                    <li v-for=" item in tabOptionTwo" :class="{'checked':item.checked}" v-text="item.name" :id="item.code"
                        @click="tableOptionTwoChangeFn(item)">

                    </li>
                </ul>
            </div>
            <div class="energyOption">
                <ul>
                    <li v-for="item in tabOptionThree" :class="{'checked':item.checked}" v-text="item.name" :id="item.code"
                        @click="tableOptionThreeChangeFn(item)">
                    </li>
                </ul>
            </div>
            <navright :type="1" :down-click="downReport"></navright>
        </div>
        <div class="contentPart">
            <div class="aboutChart" id="downloadAboutChart">
                <!-- 没有数据展示 -->
                <div class="noData" v-show="noDataChartShow">
                    <h3>meos</h3>
                    <span>请先在左侧列表选择参数</span>
                </div>
                <!-- 引入chart图表 -->

                <unitandyset :unit="chartUnit" :show="scChartShow" :confirm="setYdataFn" :max="max" :min="min"></unitandyset>
                <div id="divLineChart" v-show="scChartShow" v-bind:class="{singleComparChartHeightNoReport:!scReportShow}"></div>


                <!-- 引入报表表格   支持横向竖向滚动   需组件-->
                <div class="reportFrom" id="scReportFrom" v-if="scReportShow">
                    <tgrid :renderlist="gridRenderList"></tgrid>
                </div>
            </div>
            <div class="aboutRecord">
                <div class="title">
                    <span>已选择项</span>
                </div>
                <!-- 引入 时间 + 项目  +  分项  生成的记录  需组件-->
                <ctrecord :list-data="cRecordList" :type="'compare'" :deletecb="deleteRecordFn"></ctrecord>
            </div>
        </div>
    </div>

    <!-- 选择时间控件 -->
    <div id="choiceTimePop">
        <ptime-calendar id="choiceTime" orientation="down" sel="singleCompare.confirmCurrTime" beforesel="singleCompare.timeBeforeSel">
            <panel timetype="dwMy" align="left" double="true" startyear="2003"></panel>
        </ptime-calendar>
    </div>

    <!-- 选择分项 -->
    <!-- 
        subtree：分项模型树
        search：搜索关键字
        cb：添加分项回调函数
        cancle：隐藏分项组件
        result：点开组件选中结果项
     -->
    <msubentry v-if="showSubentryTemp" :subtree="subentryTree" :search="searchSubentry" :cb="addSubetryCallBack"
        :cancle="addSubetryHide" :result="_.map(currentSubentryList,'localId')">

    </msubentry>
</div>

<!-- loading -->
<ploading-part id="globalloading" text="加载中..."></ploading-part>
<!-- 成功失败提示 -->
<pnotice-message id="globalnotice"></pnotice-message>
<script src="/js/single/Inquire/controller.js"></script>
<% include ../../template/pageFoot.html %>