<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>BI分析</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <link rel="stylesheet" href="<%=host%>/pcontrol_3.0/css/flatBlueSeries_3.0_α.min.css" />
    <link rel="stylesheet" href="<%=host%>/pcontrol_3.0/css/pchart_src_2.0.css" />
    <script type="text/javascript" src="<%=host%>/scripts/lib/jquery-2.0.0.min.js"></script>
    <script type="text/javascript" src="<%=host%>/scripts/lib/vue-2.2.0.min.js"></script>
    <script type="text/javascript" src="<%=host%>/scripts/lib/when-3.7.8.min.js"></script>
    <script type="text/javascript" src="<%=host%>/scripts/lib/highcharts.src-6.1.1.js"></script>
    <!-- <script type="text/javascript" src="https://img.hcharts.cn/highcharts/highcharts.js"></script> -->
    <script src="<%=host%>/scripts/lib/highcharts-heatmap-6.0.7.min.js"></script>
    <script type="text/javascript" src="<%=host%>/scripts/lib/highcharts-more.src.js"></script>
    <script type="text/javascript" src="<%=host%>/scripts/tool/pconst.js"></script>
    <script type="text/javascript" src="<%=host%>/scripts/tool/psecret.js"></script>
    <script type="text/javascript" src="<%=host%>/scripts/tool/ptool.js"></script>
    <script type="text/javascript" src="<%=host%>/scripts/tool/pajax.js"></script>
    <script type="text/javascript" src="<%=host%>/scripts/extend/Array.js"></script>
    <script type="text/javascript" src="<%=host%>/scripts/extend/Date.js"></script>
    <script type="text/javascript" src="<%=host%>/scripts/extend/jQueryDom.js"></script>
    <script type="text/javascript" src="<%=host%>/scripts/extend/String.js"></script>
    <script type="text/javascript" src="<%=host%>/scripts/extend/Number.js"></script>
    <script type="text/javascript" src="<%=host%>/scripts/extend/Math.js"></script>
    <script type="text/javascript" src="../../../js/public/polyfill.js"></script>
    <script type="text/javascript" src="../../../js/public/lodash.min.js"></script>
    <script type="text/javascript" src="../../../js/public/moment.min.js"></script>
    <script type="text/javascript" src="../js/public/tool.js"></script>

    <script type="text/javascript" src="<%=host%>/pcontrol_3.0/flatBlueSeries_3.0.20180907.9235_α.min.js"></script>


    <script type="text/javascript" src="<%=host%>/scripts/tool/pcolor.js"></script>
    <script type="text/javascript" src="<%=host%>/pcontrol_3.0/pchart_src_2.0.js"></script>
</head>

<body>
    <input type="hidden" id="iptMCode" value="<%= typeof type!='undefined' ?type :'' %>">
    <!-- loading -->
    <ploading-part id="globalloading" text="加载中..."></ploading-part>
    <!-- 成功失败提示 -->
    <pnotice-message id="globalnotice"></pnotice-message>